.vs
*.suo
*.user
_ReSharper.*
packages

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
!pipeline/stages/build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Transform files
appSettings.Development.json
appSettings.Preproduction.json
appSettings.Production.json
**/*/TemporaryPasswordService.cs